@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');
body{
    direction: rtl;
    background-color: #edf2f4;
    font-family: vazirmatn;
    box-sizing: border-box;
    
}

h3{
    font-size: 25px;
}


.navbar{
    width: 100%;
    height: 5vh;
    background-color: #ffffff48;
    position: fixed;
    top: 0;
    align-items: center;
    display: flex;
    backdrop-filter: blur(100px);

}

.navbar ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.navbar li{
    cursor: pointer;
}

.container{
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    padding: 10vh 25px 25px 25px;
    min-height: 100vh;
    flex-direction: column;
}
.top-section{
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-height: 100vh;
    margin-bottom: "50%";
}

@media only screen and (max-width:600px) {
    .title{
        width: 100% !important;
        height: 200px !important;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .prof-image{
        width: 70px !important;
        height: 70px !important;
    }
}

@media only screen and (max-width:800px){
    .top-section{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

.waved{
    position: fixed;
    top: 0;
    z-index: -1;
}

.title{
    width: 100%;
    height: 20vh;
    background-color: #ffffff54;
    z-index: 1;
    
    box-sizing: border-box;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    padding: 20px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    animation: fade 0.5s;
    
}


@keyframes fade{
    0% {opacity: 0;}
    100%{opacity: 1;}
}


.title button{
    width: 100px;
    height: 30px;
    font-family: vazirmatn;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ef233c;
    color: #edf2f4;
}

.profile{
    width: 100%;
    height: 20vh;
    background-color: #edf2f4;
    
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    direction: ltr;
    gap: 10px;
}
.prof-image{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(255, 5, 213);
    border-radius: 50%;
    background-image: url('https://img.freepik.com/free-photo/funny-european-man-has-pleased-expression-smiles-joyfully-wears-optical-glasses-rosy-jumper-hears-good-news-isolated-yellow-wall-express-good-emotions-male-nerd-spectacles_273609-42361.jpg?w=1380&t=st=1683497950~exp=1683498550~hmac=25acde79fdeda5cb133c99645fd7aa3d592c2e68cfc38a4742552d08eb847268');
    background-position: center;
    background-size: cover;
}

.uname-follower{
    display: grid;
    gap: 20px;
}



.first-charg{
    width: 100%;
    height: 20vh;
    background-color: #2b2d42;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    color: #edf2f4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-charg button{
    width: 150px;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-family: vazirmatn;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}

.first-charg button:hover{
    background-color: #90be6d;
    color: white;
}

.main-form{
    width: max-content;
    height: 50vh;
    background-color: #2b2d42;
    margin-top: 5%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 5%;
}

.main-form form{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 2px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 12px;
}

.main-form input{
    width: calc(100% - 10px);
    height: 35px;
    border: none;
    outline: none;
    direction: ltr;
    font-size: 18px;
    border-radius: 10px;
}

.main-form .submit{
    margin-top: auto;
    height: 5vh;
    border-radius: 12px;
    border: 2px solid white;
    background-color: #ffffff00;
    color: white;
    font-family: vazirmatn;
    cursor: pointer;
}

.notification{
    width: 400px;
    margin: 0 auto;
    background-color: #ffca3a;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}