body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 350px;
    min-height: 600px;
    height: auto;
    /* background-color: rgb(228, 228, 228);    */
    display: flex;
    flex-direction: column;
}

.main-form{
    width: 100%;
    height: 350px;
    border: 1px solid rgb(216, 216, 216);
    padding: 20px;
    box-sizing: border-box;
}

.logo-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group{
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    gap: 5px;
}

.input-group input{
    width: 258px;
    height: 36px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
}

.center-group{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn{
    width: 258px;
    height: 32px;
    cursor: pointer;
    background-color: rgb(64, 174, 247);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.frg{
    text-align: center;
    text-decoration: none;
    color: #00376b;
    font-size: 12px;
    margin-top: 15px;
}

.signup-box{
    width: 100%;
    height: 63px;
    border: 1px solid rgb(216, 216, 216);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 14px;
    font-size: 14px;
}

.signup-box p{
    text-align: center;
}

.signup-box a{
    text-decoration: none;
    color: rgb(61, 145, 255);
}

.apps{
    text-align: center;
    margin-top: 13px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.img-box{
display: flex;
width: 100%;
justify-content: space-evenly;
margin-top: 12px;
}

.img-box img{
    width: 135px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}